.registration__form-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 190px;
    padding: 14px 18px;
    text-align: center;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    transition: opacity 0.1s ease 0s;
}

.registration__form-button:hover {
    opacity: 0.8;
}