.element__location {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    margin: 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
}