.element__delete {
    width: 18px;
    height: 19.3px;
    -ms-flex-item-align: end;
    align-self: flex-start;
    position: absolute;
    top: 18px;
    right: 15px;
    transition: opacity .1s linear;
    cursor: pointer;
    background: url(../../../images/delete.svg);
    border: none;
}

.element__delete:hover {
    opacity: .6;
}