.header {
    max-width: 880px;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84,84,84,.7);
    box-sizing: border-box;
}

@media screen and (max-width: 896px) {
    .header {
       padding-top: 28px;
       padding-left: 27px;
       padding-bottom: 31.6px;
    }
}