.popup-form__heading {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
}

@media screen and (max-width: 523px) {
    .popup-form__heading {
        font-size: 18px;
    }
}